body{
    background-color:black;
}

kbd{
    color:white;
    font-size:35px;
}

.alturatexto{
    margin-top:-35px;
}

.boton1{
    margin-left:51%;
}

button{
    font-size:20px;
    border-radius:13px;
    
}

a{
    text-decoration:none;
}

.boton2{
    margin-left:-18%;
    margin-top:-3.6%;
}

